<font color="#ffffff"><h1>Alle Berichte</h1></font>
<table id="Berichtliste">
  <tr>
    <th>Bericht</th>
    <th>Stichpunkte</th>
    <th>Datum</th>
    <th>Benutzer</th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
  <td>*<%= if item.user == current_user then "ddd2" end%></td>
    <td class="Berichtrahmen" ><span style="font-family: 'NunitoRegular'"><%= item.what[0...100] %></span></td>
    <td><%= item.how_much %></td>
    <td><%= item.datum %></td>
    <td><%= item.user.email unless item.user.nil? %></id>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
