<p id="notice"><%= notice %></p>
<% if @item.user == current_user then %> 
<p>
<font color="#ffffff">
  <b>Bericht:</b>
  <%= @item.what %>
</p>

<p>
  <b>Stichpunkte:</b>
  <%= @item.how_much %>
</p>

<p>
  <b>Datum:</b>
  <%= @item.datum %>
</font>
</p>
<%else%>
<font color="#ffffff">
Das ist nicht dein Bericht; Hacking ?!

<% end%>

<div class="EnB">
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
</div>