<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Praktikum</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />
			<link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" />
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
			<script src="http://jquery-ui.googlecode.com/svn/tags/latest/external/jquery.bgiframe-2.1.2.js" type="text/javascript"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/i18n/jquery-ui-i18n.min.js" type="text/javascript"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $("#item_datum").datepicker();
  });
  jQuery(function($){
        $.datepicker.regional['de'] = {clearText: 'loeschen', clearStatus: 'aktuelles Datum loeschen',
                closeText: 'schliessen', closeStatus: 'ohne Aenderungen schliessen',
                prevText: '<zurueck', prevStatus: 'letzten Monat zeigen',
                nextText: 'Vor>', nextStatus: 'naechsten Monat zeigen',
                currentText: 'heute', currentStatus: '',
                monthNames: ['Januar','Februar','Maerz','April','Mai','Juni',
                'Juli','August','September','Oktober','November','Dezember'],
                monthNamesShort: ['Jan','Feb','Maer','Apr','Mai','Jun',
                'Jul','Aug','Sep','Okt','Nov','Dez'],
                monthStatus: 'anderen Monat anzeigen', yearStatus: 'anderes Jahr anzeigen',
                weekHeader: 'Wo', weekStatus: 'Woche des Monats',
                dayNames: ['Sonntag','Montag','Dienstag','Mittwoch','Donnerstag','Freitag','Samstag'],
                dayNamesShort: ['So','Mo','Di','Mi','Do','Fr','Sa'],
                dayNamesMin: ['So','Mo','Di','Mi','Do','Fr','Sa'],
                dayStatus: 'Setze DD als ersten Wochentag', dateStatus: 'Waehle D, M d',
                dateFormat: 'dd.mm.yy', firstDay: 1,
                initStatus: 'Waehle ein Datum', isRTL: false};
        $.datepicker.setDefaults($.datepicker.regional['de']);
});
  </script>
          <link rel="stylesheet" href="/Font/specimen_files/stylesheet.css" type="text/css" charset="utf-8" />

</head>
<body style="background-image:url(/background1.jpg);margin: 0px;">
<div class="signedin, banner" id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
  
  
</div>
<div class= "egg">
  <div class= "egg1">
                                                               
                                                               
                                                               
                                                               
                                                               
                                                               
                       $$$$$$$77777IIIIII                      
                       MMMMMMMMMMMMMMMMMM                      
                       MMMMMMMMMMMMMMMMMM                      
                       MMMMMMMMMMMMMMMMMM                      
                       MMMMMMMMMMMMMMMMMM                      
                       MMMMMMMMMMMMMMMMMM                      
                       MMMMMMMMMMMMMMMMMM                      
                       MMMMMMMMMMMMMMMMMM                      
                       MMMMMMMMMMMMMMMMMN                      
                       MMMMMMMMMMMMMMMMMN                      
                       MMMMMMMMMMMMMMMMMD                      
                       Z77777ZMMMMZ$ZZZZ$                      
                       7???I?$MMMMI?????7                      
                       O$$$$$OMMMM$7$$OO$                      
                      ~MMMMMMMMMNMMMMMMMO                      
                      ~MMMMMMMMMMMMMMMMMZ                      
                      ~MMMMMMMMMMMMMMMMM$                      
                      =MMMMMMMMMMMMMMMMM$                      
                      ~MMMMMMMMMMMMMMMMM7                      
                      ~MMMMMMMMMMMMMMMMMI                      
                      =MMMMMMMMMMMMMMMMMI                      
                      =MMMMMMMMMMMMMMMMM+                      
                       IMMMMMMMMMMMMMM+=:                      
                        MMMMMMMMMMMMMM                         
                        MMMMMMMMMMMMMM                         
                        MMMMMMMMMMMMMM                         
                       ~MMMMMMMMMMMMMM                         
                       ~MMMMMMMMMMMMMM                         
                   ~$77$MMMMMMMMMMMMMM$ZZZ?                    
                   ?MMMMMMMMMMMMMMMMMMMMMM$                    
                   ?MMMMMMMMMMMMMMMMMMMMMM$                    
                   IMMMMMMMMMMMMMMMMMMMMMMZ                    
                   IMMMMMMMMMMMMMMMMMMMMMMO                    
                   IMMMMMMMMMMMMMMMMMMMMMMO                    
                   IMMMMMMMMMMMMMMMMMMMMMM8                    
                   7MMMMMMMMMMMMMMMMMMMMMM8                    
                   7MMMMMMMMMMMMMMMMMMMMMMD                    
                   7MMMMMMMMMMMMMMMMMMMMMMD                    
                   $MMMMMMMMMMMMMMMMMMMMMMN                    
                   $MMMMMMMMMMMMMMMMMMMMMMM                    
                   $MMMMMMMMMMMMMMMMMMMMMMM                    
                   $MMMMMMMMMMMMMMMMMMMMMMM                    
                   ZMMMMMMMMMMMMMMMMMMMMMMM                    
                   ZMMMMMMMMMMMMMMMMMMMMMMM                    
                   ZMMMMMMMMMMMMMMMMMMMMMMM                    
                   OMMMMMMMMMMMMMMMMMMMMMMM                    
                   OMMMMMMMMMMMMMMMMMMMMMMM                    
                   8MMMMMMMMMMMMMMMMMMMMMMM                    
                   8MMMMMMMMMMMMMMMMMMMMMMM                    
                   8MMMMMMMMMMMMMMMMMMMMMMM                    
                   8MMZIZMMMMMMMMMMMMMMMMMM+                   
                   8MM+.IMMMMD7?~$MMMD77DMM?                   
                   DMM+ IMMMM$.  $MMM$. ZMM?                   
                   DMM+.IMMMM$ . 7MMMZ .ZMM?                   
                   NMM= IMMMM$...IMMM$ .OMMI                   
                   NMM=.7MMMM7   IMMM$. OMM7                   
                   NMM~ IMMMM7...IMMM$. OMM$                   
                   NMM=.IMMMM7.  7MMM$  OMM$                   
                   MMM~.7MMMM7   IMMM$  8MM$                   
                   MMM~.7MMMM7   IMMM$  8MMZ                   
                   MMM~.7MMMM7   IMMM7  8MMZ                   
                   MMM:.7MMMMI   IMMM7. 8MMO                   
                   MMM:.7MMMMI   ?MMM7. DMM8                   
                   MMM: 7MMMMI   ?MMM7. DMMD                   
                   MMM: 7MMMM?   ?MMM7. DMMD                   
                   MMM, 7MMMM?   ?MMM7. DMMN                   
                   MMM, 7MMMM?   ?MMM7 .NMMN                   
                   MMM, $MMMM?   ?MMM7 .NMMN                   
                   MMM, $MMMM?   ?MMM7 .NMMM                   
                   MMM. $MMMM+   +MMM7 .NMMM                   
                   MMM. $MMMM+.. +MMMI .MMMM                   
                   MMM. $MMMM+...+MMMI .MMMM                   
                   MMM. $MMMM=...+MMMI..MMMM                   
                   MMM  $MMMM=...+MMMI. MMMM                   
                   MMM. $MMMM=  .=MMMI..MMMM                   
                   MMM. $MMMM=  .=MMMI .MMMM                   
                   MMM. ZMMMM=  .=MMMI .MMMM                   
                   MMN. ZMMMM~  .=MMM? ,MMMM                   
                   MMN. ZMMMM~   =MMM? ,MMMM                   
                   MMN  ZMMMM~   =MMM? ,MMMM                   
                   MMD  ZMMMM:   =MMM? :MMMM                   
                   MMD  ZMMMM:   =MMM? :MMMM                   
                   MMN .OMMMM: ..~MMM?.:MMMM                   
                   MMO  ZMMMM:  .~MMM?.:MMMM                   
                       .ZMMMM:   ~MMM?                         
                        ZMMMM,.  ~MMM?                         
                        OMMMM, . ~MMM+                         
                        OMMMM: . :MMM+                         
                        OMMMM= . :MMM+                         
                        OMMMM+.  :MMM+                         
                        OMMMM7.  :MMM+                         
                        OMMMM7 . :MMM+                         
                        OMMMMI . :MMM+                         
                        8MMMM+   ,MMM+                         
                        OMMMM, . ,MMM=                         
                        8MMMM .  ,MMM=                         
                        8MMMM .  ,MMM=                         
                        OMMMN  . ,MMM=                         
                        8MMMD. . ,MMM+                         
                        8MMM8. . ,MMM=                         
                        8MMM8.  . MMM+                         
                        8MMMO.....MMM+                         
                        8MMMZ    .MMM+                         
                        DMMM$.....MMM?                         
                        7$7I~  . ,MMM?                         
                                                               
                                                                 

  </div>
</div>
  <div class="roterrand" id="eineebene" style="">
    



       <%= yield %>
        <div class="roterrand gruenerhintergrund" id="eineweitereebene" style="">
        </div>
    </div>
        <li class="berichte"><a href="/items">Berichte</a></li>
                <li class="bilder"><a href="">Bilder</a></li>

</body>
</html>